<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant</title>
</head>
<body>
    <h1>Edit Restaurant</h1>
    <form action="/restaurant" method="POST">
        <input type="hidden" name="id" th:value="${restaurant.id}">

        <p>Restaurant</p>
        <textarea name="name" th:text="${restaurant.name}" id="name" cols="30" rows="1">
        </textarea>
        <br>
        <p>Descripcion</p>
        <textarea name="descripcion" th:text="${restaurant.descripcion}" id="descripcion" cols="30" rows="10">
        </textarea>
        <br>
        <p>Ubicacion</p>
        <textarea name="ubicacion" th:text="${restaurant.ubicacion}" id="ubicacion" cols="30" rows="3">
        </textarea>
        <br>

        <textarea name="foto" th:text="${restaurant.foto}" id="foto" cols="30" rows="3">
        </textarea>
        <br>

        <textarea name="longitud" th:text="${restaurant.longitud}" id="longitud" cols="8" rows="1">
        </textarea>
        <br>
        <textarea name="latitud" th:text="${restaurant.latitud}" id="latitud" cols="8" rows="1">
        </textarea>

        <select name="category" id="category">
                <option th:each="category : ${categories}"
                                         th:value="${category.id}"
                                         th:text="${category.name}"
                                         th:selected="(${category.id} == ${restaurant.category.id})"></option>
        </select>

        <br>
        <input type="submit" value="Guardar"></input>
    </form>
</body>
</html>