<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewRestaurant</title>
</head>
<body>
   <h1>Nuevo Restaurant</h1>
   <form action="/restaurant" method="POST">
        <p>Nombre Restaurant</p>
        <textarea name="name" id="name" cols="30" rows="1">
        </textarea>
       <br>

       <p>Descripcion</p>
       <textarea name="descripcion" id="descripcion" cols="35" rows="8">
        </textarea>
       <br>

       <p>Ubicacion</p>
       <textarea name="ubicacion" id="ubicacion" cols="35" rows="3">
        </textarea>
       <br>

       <p>Foto</p>
       <input type="file" name="foto" id="foto" cols="35" rows="2">
       </input>
       <br>

       <p>Longitud</p>
       <textarea name="longitud" id="longitud" cols="10" rows="1">
        </textarea>
       <br>
       <p>Latitud</p>
       <textarea name="latitud" id="latitud" cols="10" rows="1">
        </textarea>
       <br>

       <select name="category" id="category">
               <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
       </select>

       <select name="levelPrice" id="levelPrice">
           <option th:each="levelPrice : ${levelprices}" th:value="${levelPrice.id}" th:text="${levelPrice.descripcion}"></option>
       </select>

       <input type="submit" value="Guardar"></input>
   </form>
</body>
</html>