<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Restaurant</title>
</head>
<body>
  <h1>Restaurant</h1>
  <b>Id:</b> <p th:text="${restaurant.id}"></p>
  <b>Restaurant:</b> <p th:text="${restaurant.name}"></p>

  <b>Descripcion:</b> <p th:text="${restaurant.descripcion}"></p>

  <b>Ubicacion:</b> <p th:text="${restaurant.ubicacion}"></p>

  <b>Categoria:</b> <p th:text="${restaurant.category.name}"></p>


  <b>Foto:</b> <p th:text="${restaurant.foto}"></p>

  <b>Longitud:</b> <p th:text="${restaurant.longitud}"></p>
  <b>Latitud:</b> <p th:text="${restaurant.latitud}"></p>

</body>
</html>